{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block content %}
<p>Username: {{ app.user.pseudo ?? 'Anonymous user' }}</p>
<p>User roles: 
    {% for role in app.user.roles %}
        {{role}}
    {% endfor %}</p>

    <h1 class="text-center">Détail vente</h1>
    <div class="row justify-content-center my-4">
        <div class="col-12 col-lg-3">
            <img src="http://via.placeholder.com/200x150" alt="{{article.name}}">
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <h4>{{article.name}}</h4>
            </div>
            <div class="row">
                <div class="col-4">Description : </div>
                <div class="col-8">{{article.description}}</div>
            </div>
            <div class="row">
                <div class="col-4">Catégorie : </div>
                <div class="col-8">{{article.category}}</div>
            </div>
            <div class="row">
                <div class="col-4">Meilleure Offre : </div>
                <div class="col-8">{{leading ? leading : "Aucune enchère"}}</div>
            </div>
            <div class="row">
                <div class="col-4">Mise à prix : </div>
                <div class="col-8">{{article.miseAPrix ?? 0}} points</div>
            </div>
            <div class="row">
                <div class="col-4">Fin de l'enchère : </div>
                <div class="col-8">{{article.dateFinEnchere | date('d-M-Y H:i')}}</div>
            </div>
            <div class="row">
                <div class="col-4">Retrait : </div>
                <div class="col-8">{{article.pickup ?? '...'}}</div>
            </div>
            <div class="row">
                <div class="col-4">Vendeur : </div>
                <div class="col-8">{{ article.user }} </div>
            </div>
            {% if app.user != article.user %}
            <div class="row">
                <div class="col-4">Ma proposition : </div>
                <div class="col-8">
                    <form action="">
                        <div class="row d-flex align-items-center">
                            <div class="form-group col">
                                <input class="form-control" type="number">
                            </div>
                            <div class="col">
                                <button class="btn btn-primary p-3">Enchérir</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
