{% extends 'layout.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block content %}

    <div class="user_details">
        <table class="table table-borderless">
            <tbody>
                <tr class="row" >
                    <td class="col-4" scope="row">Pseudo</td>
                    <td class="col-auto">{{user.pseudo}}</td>
                </tr>
                <tr class="row" >
                    <td class="col-4" scope="row">Nom</td>
                    <td class="col-auto">{{user.lastname}}</td>
                </tr>
                <tr class="row" >
                    <td class="col-4" scope="row">Prénom</td>
                    <td class="col-auto">{{user.firstname}}</td>
                </tr>
                <tr class="row" >
                    <td class="col-4" scope="row">Email</td>
                    <td class="col-auto">{{user.email}}</td>
                </tr>
                <tr class="row" >
                    <td class="col-4" scope="row">Téléphone</td>
                    <td class="col-auto">{{user.phone}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row border user_address_block" >
            <td class="col-4" scope="row">Addresse</td>
            <td class="col-auto">{{address.street ?? ''}}, {{address.city ?? ''}} {{address.postalCode ?? ''}}</td>
        </div>
    </div>

{% endblock %}
